{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="bg-white p-4 shadow">
        <h1 class="heading">All Leads</h1>
        <table class="table table-bordered table-hover mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Link</th>
                    <th>Brand Summary</th>
                    <th>SEO Score</th>
                    <th>Tech Stacks</th>
                    <th>Traffic Analysis</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.link }}</td>
                    <td>{{ lead.brand_summary }}</td>
                    <td>{{ lead.seo_score }}</td>
                    <td>{{ lead.tech_stacks }}</td>
                    <td>{{ lead.traffic_analysis }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function toggleDropdown(id) {
        var dropdown = document.getElementById(id);
        var dropdownBtn = document.getElementById(id + 'Btn');
        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            dropdown.style.display = 'block';
            dropdownBtn.classList.add('active');
        } else {
            dropdown.style.display = 'none';
            dropdownBtn.classList.remove('active');
        }
    }
</script>
{% endblock %}
