{% extends "vertical_base.html" %}
{% load static %}

{% block extra_css %}


<style>

   
    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Light grey border */
    }
    th {
        background-color: #004085; /* Dark blue background for table header */
        color: #fff; /* White text color */
        font-weight: bold;
        text-transform: uppercase;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Light grey background for even rows */
    }
    tr:hover {
        background-color: #e9f7fc; /* Very light blue background for hover effect */
    }
</style>

{% endblock %}

{% block content %}

<div class="content">
    <h1>All Leads</h1>
    <table>
        <thead>
            <tr>
                <th>Link</th>
                <th>Brand Summary</th>
                <th>SEO Score</th>
                <th>Tech Stacks</th>
                <th>Traffic Analysis</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
            <tr>
                <td>{{ lead.link }}</td>
                <td>{{ lead.brand_summary }}</td>
                <td>{{ lead.seo_score }}</td>
                <td>{{ lead.tech_stacks }}</td>
                <td>{{ lead.traffic_analysis }}</td>
                <td>
                    {{ lead.phone_number }}
                    {# Debugging: Check if phone_number is present #}
                    {% if lead.phone_number %}
                        Phone number exists: {{ lead.phone_number }}
                    {% else %}
                        No phone number available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block extra_javascript %}

<script>
    function toggleDropdown(id) {
        var dropdown = document.getElementById(id);
        var dropdownBtn = document.getElementById(id + 'Btn');
        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            dropdown.style.display = 'block';
            dropdownBtn.classList.add('active');
        } else {
            dropdown.style.display = 'none';
            dropdownBtn.classList.remove('active');
        }
    }
</script>
{% endblock %}