{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark sticky-top">
        <div class="container-fluid">
            <!-- LOGO -->
            {% if user.is_authenticated %}
            <a class="logo text-uppercase" href="{% url 'index' %}">
                <img src="{% static 'images/logo-light.png' %}" alt="" class="logo-light" height="21">
                <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="21">
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="{% url 'index'%}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'call'%}" class="nav-link">Create Call</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'define-call-purpose'%}" class="nav-link">Generate a Call Purpose</a>
                    </li>
                    <li class="nav-item">
                        <a href="#faq" class="nav-link">Faqs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto navbar-center">
                    
                    <li class="nav-item">
                        <a href="{% url 'logout'%}" class="nav-link">Logout</a>
                    </li>
                </ul>
                <a class="btn btn-danger navbar-btn ms-2" href="https://1.envato.market/uboldlaravel" target="_blank">
                    <i class="fe-shopping-bag me-1"></i>
                    Download Now
                </a>

                {% else %}

                <a class="logo text-uppercase" href="{% url 'index' %}">
                    <img src="{% static 'images/logo-light.png' %}" alt="" class="logo-light" height="21">
                    <img src="{% static 'images/logo-dark.png' %}" alt="" class="logo-dark" height="21">
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="{% url 'index'%}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#demo" class="nav-link">Demos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#faq" class="nav-link">Faqs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto navbar-center">
                        <li class="nav-item">
                            <a href="{% url 'signin'%}" class="nav-link">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup-page'%}" class="nav-link">Sign Up</a>
                        </li>
                       
                    </ul>
                    <a class="btn btn-danger navbar-btn ms-2" href="https://1.envato.market/uboldlaravel" target="_blank">
                        <i class="fe-shopping-bag me-1"></i>
                        Download Now
                    </a>
                    
                    {% endif %}

            </div>
        </div>
    </nav>