{% extends "call_purpose/base.html" %}

{% block content %}


   <div class="container mt-5">
        <!-- Header Section -->
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to AI COLD CALLING APP</h1>
            <p class="lead">Your daily dose of laughter. Enjoy and share the best jokes! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni iure, odit ex at aperiam perferendis, blanditiis vel totam voluptatibus placeat unde incidunt error ducimus culpa! Ab qui dolor similique a.</p>
            <a href="#jokes" class="btn btn-primary btn-lg">See Jokes</a>
        </div>

    
    <!-- Call to Action Section -->
    <div class="text-center mt-5">
        <h2>Ready to get started?</h2>
        <p>Contact us today and see how we can help your business grow. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo praesentium voluptatibus officiis officia neque nesciunt voluptatum earum quidem? Omnis, magnam? Fugiat, consequatur quos nostrum eaque minus hic ducimus numquam deserunt.</p>
        <a href="#" class="btn btn-success btn-lg">Contact Us</a>
    </div>
</div>

{% endblock content %}